<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="IAMInfraPackages" value="https://pkgs.dev.azure.com/iaminfrastructure/_packaging/IAMInfraPackages/nuget/v3/index.json" />
    <add key="GTS_Packages" value="https://pkgs.dev.azure.com/deloittegti/_packaging/GTS_Packages/nuget/v2/index.json" />
    <add key="HM-Deloitte-Packages" value="https://pkgs.dev.azure.com/hemiller0099/_packaging/HM-Deloitte-Packages/nuget/v3/index.json" />
    <add key="HM_Root_Packages" value="https://pkgs.dev.azure.com/hemiller0099/_packaging/HM0099_Root_Packages/nuget/v3/index.json" />
    <add key="HMMPowerShell" value="https://pkgs.dev.azure.com/heathermmiller/HMMAutomation/_packaging/HMMPowerShell/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <IAMInfraPackages>
        <add key="Username" value="irrelevant" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASF8ssSdS2kuG5+vC7ZKW/AAAAAACAAAAAAADZgAAwAAAABAAAACFAs7kdPU/iRIqBM0MTINcAAAAAASAAACgAAAAEAAAADz7XtCLkCXvFZQO7eGwmP84AAAALpEethcz1lrV6UqqefTG5vVvwserYPM9eu28sbp+QQ17sj9aXJ8rdMhF+yPjS4+tDdWrNqDk+T8UAAAAYG05h3ZeusjQ+bJVS51PfoyQnK8=" />
      </IAMInfraPackages>
    <GTS_Packages>
      <add key="Username" value="irrelevant" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASF8ssSdS2kuG5+vC7ZKW/AAAAAACAAAAAAADZgAAwAAAABAAAAAnO0HkuMwAsV4Q1rzC29eBAAAAAASAAACgAAAAEAAAACTejbD2upkzlVIAEVmVgXc4AAAAFkkmeYBXziW5sFvARFnex0BT6Zil/iZYwydDvbBEoFV+4akaXr8pbewrwCTpv6vxUmFOdcOstOcUAAAAIqDS6gcviIqtP5RrGDJRWVYQHts=" />
    </GTS_Packages>
    <HM-Deloitte-Packages>
      <add key="Username" value="irrelevant" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASF8ssSdS2kuG5+vC7ZKW/AAAAAACAAAAAAADZgAAwAAAABAAAACiChse0AhYqQqn/Lbyc2hzAAAAAASAAACgAAAAEAAAAMes8gsu7SM/Wr6BAESYc5M4AAAAzVwtus5tnLPDQ5mTNw18kXE7Oc5qvwFi85Cc2KFaOKvKHqu+2Rpt2t8JhnmeUa5H43EbYd2g8GQUAAAANDb6uHEN93TgfvLcJEcXAmmxs8k=" />
    </HM-Deloitte-Packages>
    <HM_Root_Packages>
      <add key="Username" value="irrelevant" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASF8ssSdS2kuG5+vC7ZKW/AAAAAACAAAAAAADZgAAwAAAABAAAADmZxjgya7MCvTBbWfyVRnGAAAAAASAAACgAAAAEAAAAP0e8NVe5W0FDpvSX1qHYuo4AAAAeVQKD8czuK8NgtP4LzgpJTtq++7EensWuxLbd69GSokMpNWQ6JpSMkdLjPcilE97w1qIr9qv1ZoUAAAAW50qI9mI9PS+cwa+ELCSNZTGLEo=" />
    </HM_Root_Packages>
    <HMMPowerShell>
      <add key="Username" value="heather.m.miller@outlook.com" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAn++frjjhMEeXJ3IdWMEbrgAAAAACAAAAAAADZgAAwAAAABAAAAA5g4tyaICB54PfVWcZR/9mAAAAAASAAACgAAAAEAAAAElWpq1mMOqzcjDFQejsOBM4AAAA/mODbZ9By2yEuhjgOF65UEyfZE6G5fhSWuC6yygYkoq9lzJLzW2AE7sPQLOHTfPo6N2+eO+BeHcUAAAAW5Qf+fyDbkcLZW1ARQXDCBYEUtA=" />
    </HMMPowerShell>
  </packageSourceCredentials>
</configuration>