<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="HMMPackages" value="https://pkgs.dev.azure.com/heathermmiller/_packaging/HMMPackages/nuget/v3/index.json" />
    <add key="HMMPowerShell" value="https://pkgs.dev.azure.com/heathermmiller/HMMAutomation/_packaging/HMMPowerShell/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <HMMPowerShell>
        <add key="Username" value="heather.m.miller@outlook.com" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzSq3x8GupUqmN3Ec1eaGHQAAAAACAAAAAAAQZgAAAAEAACAAAACAJky7YmM9kfuvsu2g04LLqg9J16IjyY/TfNw3Nw4g1AAAAAAOgAAAAAIAACAAAAB73RfPIRRIH3exQJS9sRLjFxN50p1RwX0EL8GcR3PkK0AAAADrxcKs70PTXStL2HOu9Hl27vKfXt4sHWYnKA0wvKNXBF+EqxCaa57jKyWCbBxboYWsCKMqJE7MsY3a4geRMXfUQAAAAIdCt7eN2WAyJusPAtSTKpibJtm38KjLjPpgzviAF8IVQNmX+bGjET4v1WHG+rbiRdUzIxOGW0UvwABi3hty4Fs=" />
      </HMMPowerShell>
  </packageSourceCredentials>
</configuration>